html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}



a {
	color: white;
	font-weight: 100;
	letter-spacing: 2px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.2);
	padding: 20px 5px;
	display: inline-block;
	width: 100%;
	text-align: center;
	transition: all 0.5s;
}

a:hover {
	background: rgba(0, 0, 0, 0.3);
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
	padding: 0px;
}


/* Mobil Flex Container */

#nav ul {
	display: flex;
	border: 1px solid black;
	list-style: none;
	margin: 0;
	padding: 0;
}


/* Flex Item */

#nav ul {
	flex-wrap: wrap;
}

#nav li {
	flex: 1 1 100%;
}

#nav .social {
	flex: 1 1 25%;
}

@media all and (min-width:500px) {
	#nav ul {
		flex-wrap: wrap;
	}
	#nav li {
		flex: 1 1 50%;
	}
	#nav .social {
		flex: 1 1 25%;
	}
}

@media all and (min-width:960px) {
	#nav ul {
		flex-wrap: wrap;
	}
	#nav li {
		flex: 3;
	}
	#nav .social {
		flex: 1;
	}
}