#footer
{   /* How to layout the items in the footer */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    background-color: #000

    .footcol
    {   /* How to layout each column inside the footer */
        display: flex;
        flex-flow: row;
        flex: 1;
        text-align: center;
        margin: 10px 0;
        left: 0;
           background-color: #000

        a
        {   /* How to treat links in footer */
            margin-bottom: 10px;
            padding: 0;
            font-size: 1.2em;
            color: map-get($colors, linklight);
            transition: 0.3s;

            &:hover
            {
                color: map-get($colors, linkhover);
            }
        }
    }

    @include breakpoint(small)
    {   /* Flow the items in a row on bigger screens */
        flex-flow: row wrap;
    }
}