h1 {
   text-align: center;
   color: #a8a8a8;
 }

form {
   max-width: 600px;
   text-align: center;
   margin: 20px auto;
  
  input, textarea {
     border:0; outline:0;
     padding: 1em;
     display: block;
     width: 100%;
     margin-top: 1em;
     font-family: 'Merriweather', sans-serif;
     resize: none;
    
    &:focus {
    box-shadow: none;
     outline: none;
     background-position: 0 0; 
    }
  }
  
  #input-submit {
     color: white; 
     background: red;
     cursor: pointer;
    
    &:hover {
  opacity: 1;
		transition-duration: 0.3s;
		transform: scale(1.005);
		box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
    }
  }
  
  textarea {
      height: 126px;
  }
}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
     margin-right: 2%; 
}


@media (max-width: 480px) {
  .half {
     width: 100%; 
     float: none;
     margin-bottom: 0; 
  }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}