.button{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

ul.button li{
    font-size: 20px
    
}

h2{
    color:red;
}
a{
    color:red;
}
p{
    background: orange;
    color:white;
}