header {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#btn-menu {
  display: none;
}

header label {
  display: flex;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: 1px solid #000;
  &:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #000;
  }
}

#nav-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 70%;
  margin-left: -70%;
  transition: all 0.8s;
  border: 1px solid #000;
  z-index: 100;
}

#btn-menu:checked ~ #nav-menu {
  margin: 0;
}

#nav-menu ul {
  display: block;
  //  flex-flow: column;
  //  list-style:none;
  //	position:relative;
  //	align-items: flex-start;
  margin: 0;
  padding: 0;
  a {
    display: block;
    position: relative;
    border-top: 1px solid red;
    color: hotpink;
    // text-align: left;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 38px;
    padding: 5px 10px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  ul {
    a {
      line-height: 120%;
      padding: 15px 20px;
      border: 1px solid #000;
    }
    ul a {
      line-height: 120%;
      padding: 15px 30px;
      border: 1px solid #000;
    }
  }
  li {
    display: flex;
    flex-basis: 100%;
    position: relative;
    flex-flow: column;
    margin: 0;
    &.menu-item {
      background: #ddd;
    }
    &:hover {
      background: #f6f6f6;
    }
  }
  ul {
    min-width: 1px;
    display: none;
    position: relative;
    top: 100%;
    left: 0px;
    background: #fff;
    padding: 0;
    //     border: 1px solid #000;
    li {
      float: none;
      background-color: aqua;
      min-width: 100px;
      //    border: 1px solid #000;
   
    }
    ul {
      display: none;
      top: 0;
      float: right;
    }
  }
  li:hover > ul {
    display: block;
  }
}

@media (min-width: 48em) {
  header {
    width: 100%;
    label {
      display: none;
    }
  }
  #nav-menu {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    margin-left: 0%;
    padding: 0px 15px;
    //  border: 1px solid #000;
    transition: all 0.8s;
    ul {
      display: flex;
      flex-flow: row;
      list-style: none;
      //  border: 1px solid #000;
      a {
        display: flex;
        flex-wrap: wrap color hotpink;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 32px;
        padding: 1px 15px;
        font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 0;
        li {
          float: none;
          width: 200px;
        }
        a {
          line-height: 120%;
          padding: 15px 15px;
        }
        ul {
          top: 0;
          left: 100%;
        }
      }
      li:hover > ul {
        display: block;
      }
    }
  }
}