body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvettica, sans-serif;
  background: "$bg";
  background-image: url('../images/o-SCOTLAND-facebook1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.box1 {
  font-size: 58px;
  color: gainsboro;
}

.box2 {
  color: white;
}

div {
  &.h1 {
    font-size: 30px;
  }
  &.h2 {
    font-size: 16px;
  }
  &.h3 {
    font-size: 16px;
    text-align: left;
  }
}