// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// This applies from 0px to 640px
body {
    background: snow;
}

// This applies from 640px onwards
@media (min-width: 40em) {
  body {
    
     background: snow;
  }
}

@media (min-width: 48em) {
  body {
    background: lightblue;
  }
}

@media (min-width: 62em) {
  body {
   background: lightgreen;
  }
}

@media (min-width: 75em) {
  body {
     background: lightgrey;
    
  }
}
