
//Modern border-box applied everywhere.
html {
  box-sizing: border-box;
}

// inherit box-sizing
*,
*:before,
*:after {
  box-sizing: inherit;
}

body
{   /* Settings rules for the whole site */
    background-image: url('../images/2013-06-11_1_Age_NTnails.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    }


ul, li, h1, h2, h3, h4, h5, h6, p
{   /* Set start margin and padding for many elements */
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
  width: 100%;
  height: auto;		
}




